<div class="collapsible">
  <header class="collapsible--header">
    <h2 class="collapsible--heading">Produts</h2>
    <svg class="icons collapsible--icon">
      <use xlink:href="Icons/sprite.svg#menu"></use>
    </svg>
  </header>

  <div class="collapsible--content">
    <ul class="collapsible--list">
      <li class="collapsible--item">website hosting</li>
      <li class="collapsible--item">free automated wordpress</li>
      <li class="collapsible--item">migrations</li>
    </ul>
  </div>
</div>
