<ul class="list">
  <li class="list--item">.com $9</li>
  <li class="list--item">.sg $10</li>
  <li class="list--item">.space $11</li>
  <li class="list--item">.info $14</li>
  <li class="list--item">.net $10</li>
  <li class="list--item">.xyz @10</li>
</ul>

<!-- ticked list -->
<ul class="list list__vertical list-tick">
  <li class="list--item">Unlimited Websites</li>
  <li class="list--item">Unlimited Bandwidth</li>
  <li class="list--item">.space $11</li>
  <li class="list--item">100 GB SSD Sotrage</li>
  <li class="list--item">3 GB RAM</li>
</ul>
