<blockquote class="quote">
  <p class="quote--text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et nesciunt
    possimus ut impedit? Labore, reprehenderit sit sapiente molestias mollitia
    architecto!
  </p>
  <footer class="quote--foter">
    <div class="media">
      <svg class="icons icon--quote">
        <use xlink:href="Icons/sprite.svg#line"></use>
      </svg>
      <div class="media--body media--quote">
        <h3>John Smith</h3>
        <p>zedpen Company</p>
      </div>
    </div>
  </footer>
</blockquote>

<!-- quote section -->

<div class="testimonial-section">
  <div class="grid grid--1x2">
    <div class="testimonial--image">
      <img src="/Images/testimonial.jpg" alt="A happy, smiling man customer" />
      <span class="icon__container icon__testimonial-container">
        <svg class="icons icon__testimonial">
          <use xlink:href="Icons/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote--text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et nesciunt
        possimus ut impedit? Labore, reprehenderit sit sapiente molestias
        mollitia architecto!
      </p>
      <footer class="quote--foter">
        <div class="media">
          <svg class="icons icon--quote">
            <use xlink:href="Icons/sprite.svg#line"></use>
          </svg>
          <div class="media--body media--quote">
            <h3>John Smith</h3>
            <p>zedpen Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
